includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - src/
    level: 5
    excludePaths:
        - app/Http/
        - app/Models/
    ignoreErrors: []
